*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}

.panel{
    position: fixed;
    height: 100vh;
    width: 25%;
    background-color: rgb(177, 145, 229);
}

.content{
    position: absolute;
	width: 75%;
    height: 100vh;
    left: 25%;

}
#about{
    background-color: green;
}
#contact{
    background-color: gray;
}
#help{
    background-color:purple ;
}
#home{
    background-color:rgb(10, 213, 240);
}


.hidden{
    display:none;
    pointer-events: none; 
}

.unhide{
    display: inherit;
}

/* for the panel */

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
}